.big_card {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  margin: 10px;
  .btn_wrapper {
    display: flex;
    width: 50%;
    justify-content: space-around;
    Button {
      margin: 0px 10px 10px 10px;
    }
  }
  .image {
    width: inherit;
  }
  .text {
    color: white;
    text-align: center;
    &.info {
      border-collapse: collapse;
      margin: 15px;
      width: 95%;
      td {
        border: 1px solid white;
        padding: 3px;
        width: 50%;
      }
    }
  }
}


